html, body, ion-app, ion-content, ion-page, .nav-decor {
    font-family: 'Arsenal', sans-serif;
    background-color: transparent !important;
  }
.background-top{
    background-color: white !important;
    height: 100%;
}
