<!-- Generated template for the ModalCameraComponent component -->
<div class="background-top">
    <ion-content>
       <ion-img width="200" height="200" src="https://static4.cilory.com/273124-large_default/nologo-navy-casual-shirt.jpg"></ion-img>
    </ion-content>
    
  <ion-content>
    <ion-fab left top small>
      <button (click)="closeModal()" ion-fab color="light">
        <ion-icon name="ios-close-circle"></ion-icon>
      </button>
    </ion-fab>
  </ion-content>
  <ion-content bottom>
    <button ion-button bottom block color="orange" menuToggle>Add to warderobe</button>
  </ion-content>
</div>