<!-- Generated template for the ModalCameraComponent component -->
<div class="background-top">
  <div class="modal-wrapper" [ngStyle]="{ background: 'url(../../' + image + ')' }">
  </div>
  <ion-content>
    <ion-fab left top small>
      <button (click)="closeModal()" ion-fab color="light">
        <ion-icon name="ios-close-circle"></ion-icon>
      </button>
    </ion-fab>
  </ion-content>
  <ion-content>
  </ion-content>
  <ion-content bottom>
    <button ion-button bottom block color="orange" menuToggle>Add to warderobe</button>
  </ion-content>
</div>
