<!-- Generated template for the ModalCameraComponent component -->
<div class="background-top">
  <!--<div class="modal-wrapper">-->
    <ion-content [ngStyle]="{'background-image': 'url(https://static4.cilory.com/273124-large_default/nologo-navy-casual-shirt.jpg)', 'width': '100%', 'height': '100%', 'background-repeat': 'no-repeat', 'background-size': '70%', 'background-position':'center'}" >
      <!--<ion-img style="width: 80px; height: 80px;" src="https://static4.cilory.com/273124-large_default/nologo-navy-casual-shirt.jpg"></ion-img>-->
      <ion-fab left top small>
        <button (click)="closeModal()" ion-fab color="light">
          <ion-icon name="ios-close-circle"></ion-icon>
        </button>
      </ion-fab>
      <div class="custom-grid-direction-end">
        <div class="tags-body-wrapper">
          <span class="tag-label"><span class="logo-prefix">& </span>Feel </span>
          <span class="tag-label"><span class="logo-prefix">& </span>Feel </span>
          <span class="tag-label"><span class="logo-prefix">& </span>Feel </span>
        </div>
        <div class="button-footer-wrapper">
          <button block ion-button bottom color="yellow" class="button-lookend">Add to warderobe</button>
        </div>
      </div>
    </ion-content>
  <!--</div>-->
</div>
